@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0rem;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

@font-face {
	font-family: "Kaushan Script", cursive;
	src: url(".public/fonts/KaushanScript-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
